



/* multipule use */

body{
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid;
}
:root{
    --primary-color: #3A3A3A;
    --sceond-color: #000000;
    --primary-white: #FFFFFF;
    --prudts-name-color: #18191F;
    --product-price-color: #000000;
    --product-pregrap-color: #787885;
    

}

.display-flex{
    display: flex;
    
}
.btn{
background-color:#E02C6D ;
    border-radius: 41px;
    font-size: 1rem;
    padding: 10px 24px;
    font-weight: 700;
    border: none;
    color: #FFFFFF;
}


/* header section */

header{
     padding-bottom: 20px;
    /* background-color: aliceblue; */
  
   
}
header{   background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position:bottom -0px  right 90px ;}
.nav-title{
    font-size: 24px;
    color: var(--primary-color);
}
nav {
   justify-content:space-between ;
   align-items: center;
   margin: 50px 120px ;
   max-width: 1200px;
}

.nav-ul {
    gap: 34px;
}
.nav-ul li{
    list-style: none;
}
.nav-ul li a{ 
    text-decoration: none;
    color: var(--primary-color);
}
.nav-icon{
 color: var(--sceond-color) ;
}

/* banner */

.banner{
    margin: 0 auto;
    gap: 134px;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
   
}
.banner-text{
    max-width: 582px;
    justify-items: center;
    align-items: center;
    
    
    
}

.banner-text .banner-title{
font-size: 3.25rem;
line-height: 70px;
margin: 0;
color: #3A3A3A;
margin-bottom: 16px;
}
.banner-text p {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
}
.banner-image{
    max-width: 440px;
    
}

.banner-image img{
    width: 100%;
    background-color: ;
}

/* company scetion */
.company{
    margin-bottom: 100px;
}
.company-container {
   max-width: 1110px ;
   margin: 0 auto;
   /* background-color: aquamarine; */
   display: grid;
   grid-template-columns:repeat(7, 1fr) ;
   align-items: center;
   margin-top: 69px;
   padding: 62px 35px;
   border-top: 1px  solid rgba(0, 0, 0, 0.075);
   border-bottom: 1px  solid rgba(0, 0, 0, 0.075);
}

/* card section */
.card-section-container{
    max-width: 1147px;
    margin: 0 auto;
}

.card-section-title{
    color: var(--primary-color);
    font-size: 1.80rem;
   text-align: center;
   margin-bottom: 50px;
   font-weight: 600;
}
.card{

}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   max-width: 1047px;
   margin: 0 auto;
   justify-content: center;
   gap: 30px;
}
.card{
    max-width: 329px;
    max-height: 446px;
    background-color: var(--primary-white);
    padding: 14px;
    border-radius: 5px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.089);
    
}
.card-image{
    max-width: 300px;
    max-height: 256px;
    
}
 .card-image img{
    width: 100%;
 }
 .card-title{
    color: var(--prudts-name-color);
    font-size: 1.8rem;
    text-transform: capitalize;
    margin: 16px 0 6px;
 }
 .prudts-price{
    font-size: 24px;
    color: var(--prudts-name-color);
    margin: 0;
    
 }
 .prudts-raiting {
    color: rgb(238, 199, 71);
    font-size: 10px;
 }
 .prudts-text{
    font-size: 0.95rem;
    color: var(--product-pregrap-color);
    margin: 0;
 }

 .see-more-container {
    display: flex;
    justify-content: right;
    max-width: 1047px;
    margin: 0 auto;
    margin-top: 50px;
   
 }
 .see-more{
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 700;
    text-decoration:none;
    
 }

 /* featured-container */

 .featured-container{
    display: flex;
    margin: 100px 165px;
    gap: 96px;
    margin-bottom: 100px;
 }
 .featured-text .featured-title {
    font-size: 2.25rem;
    color: #0A0826;
    font-weight: 700;
 }

 .featured-text ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    color: #6C6C6C;
    margin-bottom: ;

 }
 .featured-text button{
    border-radius: 0px;
 }

 /* footer */

 footer{
    background-color: rgb(13, 2, 53);
 }

 .footer-text {
    color: #FFFFFF;
    max-width: 262;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
 }
